Example/MPITextKit.xcodeproj/xcuserdata/tpphha.xcuserdatad/xcschemes/xcschememanagement.plist
Example/MPITextKit.xcworkspace/xcuserdata/tpphha.xcuserdatad/UserInterfaceState.xcuserstate
xcschememanagement.plist
IDEFindNavigatorScopes.plist
*.xcbkptlist
*.xcuserstate
